
        *{
            margin: 0%;
            padding: 0%;
            background-color: blue;
        }
  #box12{
    background-image: url(/image/hj.png);
    height: 170px;
    
  
   background-size: contain;
  }
  
   